.audio-ls{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
}

.audio-ls-item .audio-img{
    width: 48px;
    height: 48px;
    border-radius:8px;
    background: #1B2E48;

}

.audio-info{
    font-size: 12px;
}

.audio-info p:last-child{
    color: #2A3C55;
}
