*{
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1B2E48;
}

.flex{
  display: flex;
}

.justify-sb{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.align-center{
  align-items: center;
}

.bb{
  box-sizing: border-box;
}

.m-16{
  margin: 16px;
}

.mlr-16{
  margin: 0 16px;
}

.mtb-16{
  margin: 16px 0;
}

.m-8{
  margin: 8px;
}

.mlr-8{
  margin: 0 8px;
}

.mtb-8{
  margin: 8px 0;
}

.m-4{
  margin: 4px;
}

.mlr-4{
  margin: 0 4px;
}

.mtb-4{
  margin: 4px 0;
}

.p-4{
  padding: 4px;
}

.plr-4{
  padding: 0 4px;
}

.ptb-4{
  padding: 4px 0;
}

.p-8{
  padding: 8px;
}

.plr-8{
  padding: 0 8px;
}

.ptb-8{
  padding: 8px 0;
}

.p-16{
  padding: 16px;
}

.plr-16{
  padding: 0 16px;
}

.ptb-16{
  padding: 16px 0;
}

.app-quote{
  font-size: 48px;
}

.li{
  list-style: none;
}